<header class="main_menu">
    <div class="sub_menu">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-8">
                    <div class="sub_menu_right_content">
                        <a href="#"><i class="flaticon-phone-call"></i>+91 144 522 2128</a> <span>|</span>
                        <a href="#"><i class="flaticon-at"></i>contact@jambudwipa.com</a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-4">
                    <div class="sub_menu_social_icon">
                        <a href="https://www.facebook.com/JambudwipaIndia/"><i class="flaticon-facebook"></i></a>
                        <a href="https://twitter.com/JambudwipaIndia"><i class="flaticon-twitter"></i></a>
                        <!-- <a href="#"><i class="flaticon-skype"></i></a>
                        <a href="#"><i class="flaticon-instagram"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main_menu_iner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/"> <img src="assets/img/jsk.png" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item justify-content-end"
                            id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/about">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/#service">Services</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header> 
   <!-- banner part start-->
    <section class="banner_part">
      <div class="container">
          <div class="row align-items-center justify-content-center">
              <div class="col-lg-10">
                  <div class="banner_text text-center">
                      <div class="banner_text_iner">
                          <h5>Since <span>2013</span> </h5>
                          <h1>Jambudweep Shodha Kendra</h1>
                          <h3>ONE STEP AHEAD</h3>
                          <a href="#" class="btn_1">learn more </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- banner part start-->

  <!-- service part start-->
  <section class="service_part section_padding" id="service">
      <div class="container">
          <h1 style="text-align: center;"><b>Our Services</b></h1> <br><br>
          <div class="row align-items-center">
              <div class="col-lg-3 col-sm-6 col-md-6">
                  <div class="single_service_part">
                      <i class="flaticon-chip"></i>
                      <span class="line"></span>
                      <h3>SOCIAL MEDIA MANAGEMENT</h3>
                      <p>We provide personalised strategic communication services to
                           campaign managers, individuals and different organizations working in different
                           domain to tell intended message to the targeted group of people.</p>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-md-6">
                  <div class="single_service_part">
                      <i class="flaticon-cap"></i>
                      <span class="line"></span>
                      <h3>CAMPAIGN MANAGEMENT</h3>
                      <p>In order to meet the desired results, our professionals works whole heartedly from collecting data from the scratch to compiling the data to solidified pronounced results by the use of various sources like Internet, News Articles etc. </p>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-md-6">
                  <div class="single_service_part">
                      <i class="flaticon-wallet"></i>
                      <span class="line"></span>
                      <h3>RESEARCH AND DEVELOPMENT</h3>
                      <p>The team of professionals that we have are adhered to provide crisp and unambiguous content to our clients. We are updated with current affairs that helps company to put its best foot forward in this competitive world </p>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-md-6">
                  <div class="single_service_part">
                      <i class="flaticon-audio"></i>
                      <span class="line"></span>
                      <h3>DIGITAL COMMUNICATION</h3>
                      <p>We need to extract out the right information in order to spread the right word with right intent. Today’s changing world demands us to get creative with the amount of information and present it in the most eye-catchy manner.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- service part start-->

  <!-- about part start-->
  <section class="about_part section_bg section_padding">
      <div class="container">
          <div class="row align-items-center justify-content-between">
              <div class="col-md-6 col-lg-6">
                  <div class="about_img">
                      <img src="assets/img/about_img_1.jpg" alt="">
                  </div>
              </div>
              <div class="col-md-5 col-lg-5">
                  <div class="about_text">
                      <h2>We Are Committed <br>
                          To Customer Satisfaction</h2>
                      <h4>To be customer’s first choice by providing total PR solutions through innovative and reliable service.</h4>
                      <p>Our mission is to excel in the field of social media management and research analysis with each surpassing day with the help of our personnel’s that allows us to achieve consistent and top quality in all ventures.</p>
                      <a href="#" class="btn_2">read more</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- about part start-->


  <!--::industries start::-->
  <!-- <section class="our_Professional padding_top">
      <div class="container">
          <div class="row">
              <div class="col-xl-4">
                  <div class="section_tittle">
                      <h2>Meet Experienced
                          Professional</h2>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-3 col-sm-6">
                  <div class="single_industries">
                      <img src="assets/img/Professional/our_professional_1.png" alt="">
                      <div class="single_industries_text">
                          <h3>Andrew Flentop</h3>
                          <p>System Engineer</p>
                          <div class="social_icon">
                              <a href="https://www.facebook.com/JambudwipaIndia/"><i class="flaticon-facebook"></i></a>
                              <a href="https://twitter.com/JambudwipaIndia"><i class="flaticon-twitter"></i></a>
                              <a href="#"><i class="flaticon-skype"></i></a>
                              <a href="#"><i class="flaticon-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="single_industries">
                      <img src="assets/img/Professional/our_professional_2.png" alt="">
                      <div class="single_industries_text">
                          <h3>Andrew Flentop</h3>
                          <p>System Engineer</p>
                          <div class="social_icon">
                              <a href="https://www.facebook.com/JambudwipaIndia/"><i class="flaticon-facebook"></i></a>
                              <a href="https://twitter.com/JambudwipaIndia"><i class="flaticon-twitter"></i></a>
                              <a href="#"><i class="flaticon-skype"></i></a>
                              <a href="#"><i class="flaticon-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="single_industries">
                      <img src="assets/img/Professional/our_professional_3.png" alt="">
                      <div class="single_industries_text">
                          <h3>Andrew Flentop</h3>
                          <p>System Engineer</p>
                          <div class="social_icon">
                              <a href="https://www.facebook.com/JambudwipaIndia/"><i class="flaticon-facebook"></i></a>
                              <a href="https://twitter.com/JambudwipaIndia"><i class="flaticon-twitter"></i></a>
                              <a href="#"><i class="flaticon-skype"></i></a>
                              <a href="#"><i class="flaticon-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="single_industries">
                      <img src="assets/img/Professional/our_professional_4.png" alt="">
                      <div class="single_industries_text">
                          <h3>Andrew Flentop</h3>
                          <p>System Engineer</p>
                          <div class="social_icon">
                              <a href="https://www.facebook.com/JambudwipaIndia/"><i class="flaticon-facebook"></i></a>
                              <a href="https://twitter.com/JambudwipaIndia"><i class="flaticon-twitter"></i></a>
                              <a href="#"><i class="flaticon-skype"></i></a>
                              <a href="#"><i class="flaticon-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section> -->
  <!--::industries end::-->

  <br> <br><br>
    <!--::subscribe area start::-->
    <section class="subscribe_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="subscribe_iner">
                        <div class="row align-items-center">
                            <div class="col-lg-5 col-xl-5">
                                <div class="subscribe_area_tittle">
                                    <h2>Do You Have a Question?</h2>
                                </div>
                            </div>
                            <div class="col-lg-7 col-xl-6">
                                <div id="mc_embed_signup">
                                    <aside class="single_sidebar_widget newsletter_widget">
                                        
                                                                                       <a href="/contact"><button class="btn_2" href='/'>Contact Us</button></a> 

                                    </aside>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::subscribe area end::-->

    <!-- footer part start-->
    <footer class="footer-area" style="background: #f9f9f9;">
        <div class="container" >
            <div class="row justify-content-between">
                <div class="col-sm-6">
                    <div class="single-footer-widget footer_1">
                        <a href="/"> <img width="300px" src="assets/img/logo2.png" alt=""> </a>
                        <p>ONE STEP AHEAD</p>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-xl-3">
                    <div class="single-footer-widget footer_icon">
                                                  <h4 style="color:#1c2331">Contact Info</h4>

                        <p>5/30 Jangpura B Delhi-110084 <br> contact@jambudwipa.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="copyright_part_text text-center">
                        <p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright JSK &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="#"> Mayank Jha</a></a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer part end-->